*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  width: 380px;
}

.input-container{
  width: 300px;
  border: 2px solid black;
  margin: 30px;
  padding-bottom: 20px;
}

h2{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}
.output-container{
  width: 240px;
  border: 2px solid black;
  margin: 30px;
  padding-bottom: 20px
}

.sub-section, .totals{
  margin-left: 20px;
  display: flex;
}

.info{
  display: block;
  margin-top: 7px;
  text-align: right;
}

form{
  width: 300px;
}

input[type="number"]{
  width: 80px; 
  margin-bottom: 15px;
}
label{
  display: block;
  margin-bottom: 0px;
  padding: 0px;
  text-align: right;
}

.output-values, .total-value{
  padding-left: 10px;
}

.total-label, .charge-labels{
  width: 58px;
}

.totals{
  margin-top: 5px;
  width: 120px;
  border-top: 1px solid black;
}

.input-labels{
  text-align: right;
  margin-top: 5px;
}
.input-values{
  margin-top: 5px;
}

.btn-controls{
  width: 150px;
  margin:auto;
  margin-top: 20px;
}

.reset-btn{
  position: absolute;
  left: 100px;
}

@media (min-width: 650px){

  h1{
    width: 700px;
  }
  .both-output-containers{
    position: absolute;
    top: 58px;
    left: 350px;
  }
  .reset-btn{
    left: 630px;
    top: 430px;
  }
}
